MVC/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ApplicationService.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_PostCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:PutCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_PutCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategoryById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCategoryById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoryByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGames" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PostGame_InputMessage">
    <wsdl:part name="parameters" element="tns:PostGame" />
  </wsdl:message>
  <wsdl:message name="IService1_PostGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PutGame_InputMessage">
    <wsdl:part name="parameters" element="tns:PutGame" />
  </wsdl:message>
  <wsdl:message name="IService1_PutGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutGameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGameById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGame" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGameResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategories" message="tns:IService1_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoriesResponse" message="tns:IService1_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostCategory" message="tns:IService1_PostCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostCategoryResponse" message="tns:IService1_PostCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutCategory" message="tns:IService1_PutCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutCategoryResponse" message="tns:IService1_PutCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCategoryById" message="tns:IService1_GetCategoryById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCategoryByIdResponse" message="tns:IService1_GetCategoryById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCategory" message="tns:IService1_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCategoryResponse" message="tns:IService1_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGames" message="tns:IService1_GetGames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGamesResponse" message="tns:IService1_GetGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PostGame" message="tns:IService1_PostGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PostGameResponse" message="tns:IService1_PostGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PutGame" message="tns:IService1_PutGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PutGameResponse" message="tns:IService1_PutGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGameById" message="tns:IService1_GetGameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGameByIdResponse" message="tns:IService1_GetGameById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteGame" message="tns:IService1_DeleteGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteGameResponse" message="tns:IService1_DeleteGame_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/PostCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/PutCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategoryById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCategoryById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGames">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostGame">
      <soap:operation soapAction="http://tempuri.org/IService1/PostGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutGame">
      <soap:operation soapAction="http://tempuri.org/IService1/PutGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGame">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfService1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>